@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
     height: 100%;
}
body{
    background-color: black;
}

.hero-img{
    width: 800px;
    height: 900px;
    background:url(/workspace/MSP1-portfolio-BrianFD/assets/images/IMG_1206.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    animation: banner 3s ease-in forwards;
   -webkit-animation: banner 3s ease-in forwards;
   -o-animation: banner 3s ease-in forwards;
   -moz-animation: banner 3s ease-in forwards;
   overflow: hidden;
}

.hero-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: blanchedalmond;
    
}

@keyframes banner {
  from { width: 800px; }
  to { width: 1200px;}
}

/*________NAVBAR____________*/

.nav-bar{
    display:block;
    float: right;
    margin: auto;
}
.nav-item,ul{
     text-decoration: none;
}
.nav-bar:hover{
    color: rgba(0, 0, 0, 0)!important;
}
a{
    color: #fafafafa;
}